@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quattrocento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
:root{
    --black: #333;
    --white: #fff;
    --base: #F6F5F5;
    --blue: #292C6D;
    --lpink: #FAEDF0;
    --dblue: #161853;
    --red: #EC255A;
}
body{
    min-height: 150vh;
    background: var(--base);
}
header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--lpink);
    z-index: 100;
    border-bottom: 1px solid var(--blue);
    transition: 0.5s;
}
header.sticky{
    padding: 10px 100px;
}
.logo
{
    
    display: inline-block;
    background: url(./images/logo.png);
    width: 50px;
    height: 50px;
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    position: relative;
    margin: -10px;


}
.logoTxt{
    transform: translateX(20px);
    display: inline-block;
    position: relative;
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    letter-spacing: 5px;
    font-weight: 400;
    text-decoration: none; 
    color: black;
    
}
.menu-toggle
{
    position: relative;
    width: 35px;
    height: 35px;
    background: url(./images/menu.png);
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.menu-toggle.active
{
    position: relative;
    width: 35px;
    height: 35px;
    background: url(./images/close.png);
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer; 
}
.navigation
{
    font-family: 'Mate SC', serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 99;
    transition: 0.25s;
    opacity: 0;
    visibility: hidden;
}
.navigation.active
{
    opacity: 1;
    visibility: visible;
}
.navigation li
{
    list-style: none;
    margin: 10px 0;
}
.navigation li a
{
    color: var(--black);
    font-size: 1.2em;
    letter-spacing: 5px;
    display: inline-block;
    font-weight: 500;
    text-decoration: none;
    
}
section
{
    font-family: 'Quattrocento', serif;
    position: relative;
    padding: 100px;
    width: 100%;
    min-height: 100vh;
    background: var(--white);

}
.cover
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover
}
.banner
{
    font-family: 'Oswald', sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
}
.split
{
    height: 100%;
    width: 50%;
    position: absolute;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
}
/* Control the left side */
.left {
    left: 0;
    background-color: #111;
  }
  
  /* Control the right side */
  .right {
    right: 0;
    background-color: red;
  }
.banner .contentBx
{
    
    position: relative;
    z-index: 1;
    background: var();
    padding: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.banner .contentBx h2
{
    font-size: 2em;
    font-weight: 500;
    color: var(--white);
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
}
.banner .contentBx h4
{
    font-size: 1.2em;
    font-weight: 300;
    color: var(--white);
    letter-spacing: 4px;
    text-align: center;
    text-transform: uppercase;

}
.btna
{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 20px;
    border: 2px solid var(--black);
    color: var(--white);
    background: var(--red);
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: 0.3s;
}
.btna:hover
{
    color: var(--white);
    background: var(--dblue);
}
.btnb
{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 20px;
    border: 2px solid var(--black);
    color: var(--white);
    background: var(--blue);
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: 0.3s;
}
.btnb:hover
{
    color: var(--white);
    background: var(--dblue);
}
.btnb :hover .split .right
{
    width: 100%;
    
}